<a href="https://colab.research.google.com/github/gogzicole/Personal_Codes/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Defining a function that flattens a list encapsulated in a list**

In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [40]:
df = pd.read_csv('Labels.csv')
df.head()

   Unnamed: 0                                  labels
0           0                     [[0, 8, 'Surname']]
1           1  [[11, 17, 'Surname'], [0, 10, 'Male']]
2           2  [[0, 7, 'Female'], [8, 14, 'Surname']]
3           3    [[0, 4, 'Male'], [5, 12, 'Surname']]
4           4    [[0, 5, 'Male'], [6, 11, 'Surname']]

In [41]:
from ast import literal_eval
df['labels'] = df['labels'].apply(literal_eval)

In [42]:
def extractor(x):
  if isinstance(x, list):
    names = [lst for i in x for lst in i]
    return ', '.join(str(v) for v in names)
df['new_labels'] = df['labels'].apply(extractor)
df.head()

   Unnamed: 0                              labels                    new_labels
0           0                   [[0, 8, Surname]]                 0, 8, Surname
1           1  [[11, 17, Surname], [0, 10, Male]]  11, 17, Surname, 0, 10, Male
2           2  [[0, 7, Female], [8, 14, Surname]]  0, 7, Female, 8, 14, Surname
3           3    [[0, 4, Male], [5, 12, Surname]]    0, 4, Male, 5, 12, Surname
4           4    [[0, 5, Male], [6, 11, Surname]]    0, 5, Male, 6, 11, Surname

In [43]:
df['male'] = df.new_labels.str.contains('Male', case = True)
df.head()

   Unnamed: 0  ...   male
0           0  ...  False
1           1  ...   True
2           2  ...  False
3           3  ...   True
4           4  ...   True

[5 rows x 4 columns]

In [44]:
df['gender'] = np.where(df.male == False, 'Female','Male')
df.head()

   Unnamed: 0                              labels  ...   male  gender
0           0                   [[0, 8, Surname]]  ...  False  Female
1           1  [[11, 17, Surname], [0, 10, Male]]  ...   True    Male
2           2  [[0, 7, Female], [8, 14, Surname]]  ...  False  Female
3           3    [[0, 4, Male], [5, 12, Surname]]  ...   True    Male
4           4    [[0, 5, Male], [6, 11, Surname]]  ...   True    Male

[5 rows x 5 columns]

**2. Define a function that accepts a year as its argument and tells if its a leap year or not**

In [76]:
def isYearLeap(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0 and year % 100 == 0):
      return True
    else:
      return False

In [77]:
testData = [1900, 2000, 2016, 1987]
testResults = [False, True, True, False]
for i in range(len(testData)):
	yr = testData[i]
	print(yr,"->",end="")
	result = isYearLeap(yr)
	if result == testResults[i]:
		print("OK")
	else:
		print("Failed")

1900 ->OK
2000 ->OK
2016 ->OK
1987 ->OK

**3. Define a function that takes a month and a year a checks if the year is leap year or not and hence return the number of days in that month**

In [142]:
def isYearLeap(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0 and year % 100 == 0):
      return True
    else:
      return False

def daysInMonth(year, month):
     dct = {1:31,2:28,3:31,4:30,5:31,
            6:30,7:31,8:31,9:30,10:31,
            11:30,12:31}
     for k,v in dct.items():
        if (isYearLeap(year) and month == 2):
          dct[2] += 1 
        else:
          dct[2] = dct[2] 
        return dct[month]


testYears = [1900, 2000, 2016, 1987]
testMonths = [2, 2, 1, 11]
testResults = [28, 29, 31, 30]
for i in range(len(testYears)):
	yr = testYears[i]
	mo = testMonths[i]
	print(yr, mo, "->", end="")
	result = daysInMonth(yr, mo)
	if result == testResults[i]:
		print("OK")
	else:
		print("Failed")

1900 2 ->OK
2000 2 ->OK
2016 1 ->OK
1987 11 ->OK

**4. Define a function that takes three arguments a year, month and day, and returns the day of the year**

In [ ]:
def isYearLeap(year):
     if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0 and year % 100 == 0):
      return True
     else:
      return False

def daysInMonth(year, month):
     dct = {1:31,2:28,3:31,4:30,5:31,
            6:30,7:31,8:31,9:30,10:31,
            11:30,12:31}
     for k,v in dct.items():
        if (isYearLeap(year) and month == 2):
          dct[2] += 1 
        else:
          dct[2] = dct[2] 
        return dct[month]

def dayOfYear(year, month, day):

print(dayOfYear(2000, 12, 31))

**5. Define a function that checks if a number is prime or not and returns a boolean result.**

In [2]:
def isPrime(num):
   if num < 2:
       return False
   for i in range(2, num):
       if num % i == 0:
         return False
   return True
# the block of code from here below i to help check for prime number between  ans 20. 
for i in range(1, 20):
	if isPrime(i + 1):
			print(i + 1, end=" ")
print()

2 3 5 7 11 13 17 19

**6. Use for Loop to make a function that creates the fibonacci sequence given a number as argument**

In [ ]:
def fibonacci(n):
  initial = 0
  present = 1
  print(initial)
  print(present)

  for i in range(1,n+1):
    next = initial + present
    print(next)
    initial = present
    present = next
fibonacci(8)

**7. Use while loop to make a function that creates fibonacci sequence given a number as argument**

In [ ]:
def fibonacci_while(n):
  initial = 0
  present = 1
  count = 2
  print(initial)
  print(present)

  while count <= n:
    next = initial + present
    initial = present
    present = next
    print(next)
    count += 1

fibonacci_while(8)

**9. Fibonacci number using recurssion to return the last number in the sequence**

In [22]:
def fib_recurssion(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fib_recurssion(n-1) + fib_recurssion(n-2)

fib_recurssion(8)

21

**10. Define a funcion that when called asks the user to input some text and then counts the number of occurence of the texts and outputs a sorted count of the observations and the counts**

In [71]:
def textCounter():
  text = str(input('input your text here: '))
  dct = {}
  for i in text:
    dct[i] = 0
  for k,v in dct.items():
    for j in range(len(text)):
      if k in text.lower()[j]:
        dct[k] += 1

  dct_hst = dict(sorted(dct.items(), key = lambda item: item[1], reverse = True))
  for k,v in dct_hst.items():
    print(k, '->', v)
textCounter()

input your text here: gagashjajdfg
g -> 3
a -> 3
j -> 2
s -> 1
h -> 1
d -> 1
f -> 1

**11. Define a class that returns a fraction as a rational divisor, define a reducer method and also and integer multiplier**

In [108]:
class Rational(object):
  def __init__(self, numerator, denominator):
    self.denominator = denominator
    self.numerator = numerator

  def __repr__(self):
    if self.numerator % self.denominator != 0:
        return '%d/%d' %(self.numerator,self.denominator)
    else:
        return '%d' %(self.numerator//self.denominator)

  def __gcf(self):
    smaller = min(self.numerator,self.denominator)
    small_factor = {i for i in range(1, smaller+1) if smaller % i == 0}
    bigger = max(self.numerator,self.denominator)
    common_factor ={i for i in small_factor if bigger % i == 0}
    return max(common_factor)

  def lowest(self):
    gcd = self.__gcf()
    self.denominator = self.denominator/ gcd
    self.numerator = self.numerator / gcd
    return self

  def decimal(self):
    return self.numerator / self.denominator

  def __mul__(self, number):
    if isinstance(number,(float,int)):
      return Rational(self.numerator*number, self.denominator)
    elif isinstance(number, Rational):
      return Rational(self.numerator * number.numerator,self.denominator * number.denominator)
    else:
      raise TypeError('Expected number to be int or rational got %s' %(type(number)))
  
  def __rmul__(self, number):
    return self.__mul__(number)

  def __add__(self,number):
    if isinstance(number, int):
      return Rational(self.numerator + (self.denominator*number), self.denominator)
    elif isinstance(number, Rational):
      __lcm = self.denominator * number.denominator
      return Rational(self.numerator * (__lcm/self.denominator) + number.numerator*(__lcm/number.denominator), __lcm)
    else:
      raise TypeError('Expected number to be int or rational got %s' %(type(number)))

  def __radd__(self,number):
    return self.__add__(number)

  def __sub__(self, number):
    if isinstance(number, int):
      return Rational(self.numerator - (self.denominator * number),self.denominator)
    elif isinstance(number, Rational):
      __lcm = self.denominator * number.denominator
      return Rational(self.numerator * (__lcm/self.denominator) - number.numerator*(__lcm/number.denominator), __lcm)
    else:
      raise TypeError('Expected number to be int or rational got %s' %(type(number)))

  def __rsub__(self,number):
    if isinstance(number, int):
      return Rational((self.denominator * number)- self.numerator, self.denominator)
    else:
      raise TypeError('Expected number to be int or rational got %s' %(type(number)))

In [110]:
rational1 = Rational(3,4)
rational2 = Rational(5,2)
rational2 - rational1

14/8